
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid silver;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 10px;
    z-index: 5;
}

.container ul {
    list-style: none;
    display: flex;
}

.container li {
    margin-left: 10px;
}

.container a {
    margin: 15px 30px;
    text-decoration: none;
    color: #2ec4b6;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    transition: all .2s ease;
    position: relative;
}
.container a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: #2ec4b6;
    transition: all .2s ease-in-out;
}

.container a:hover::before {
    width: 100%;
}

.container a:hover {
    color: #1a73e8;
}

@media (max-width: 768px) {
    .container {
        box-sizing: border-box;
        position: fixed;
        flex-direction: column;
        top: 0;
        right: 0;
        width: 250px;
        height: 100vh;
        justify-content:unset;
        align-items: flex-start;
        padding: 100px 40px;
    }
    .container ul {
        display: block;
        padding: 0;
    }
    .container li {
        margin: 0;
        margin-bottom: 20px;
    }
    .container a {
        margin: 0;
    }

}

