.container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 100px;    
}

.title {
    margin-top: 100px;
    text-align: center;
    font-size: 2rem;
    color: #52796f;
    font-weight: 500;
    letter-spacing: 2px;
}

@media (max-width: 550px) {
    .container{
        gap: 1rem;
        grid-template-columns: repeat(1, 1fr);
    }
}